---
- name: Pcotes AUR
  hosts: localhost

  tasks:
    - name: Create the `aur_builder` user
      become: yes
      ansible.builtin.user:
        name: aur_builder
        create_home: yes
        group: wheel
    
    - name: Allow the `aur_builder` user to run `sudo pacman` without a password
      become: yes
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/11-install-aur_builder
        line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
        create: yes
        mode: 0644
        validate: 'visudo -cf %s'

    - name: Instalação yay
      kewlfft.aur.aur:
        name: yay-bin
        state: present
        use: makepkg
      become: yes
      become_user: aur_builder

    - name: Instalação dotdrop
      kewlfft.aur.aur:
        use: yay
        name: dotdrop
        state: present
      become: yes
      become_user: aur_builder
    
    - name: Instalação neofetch
      kewlfft.aur.aur:
        use: yay
        name: neofetch
        state: present
      become: yes
      become_user: aur_builder

    # - name: Ajusta dotdrop para nome do host
    #   shell: sed -i 's/melville/archlinux/' /home/vagrant/dotfiles/config.yaml
    #   # TODO: Ajustar isso

    # - name: configura dotfiles
    #   shell: dotdrop --cfg=/home/vagrant/dotfiles/config.yaml install -f
    #   # TODO: Ajustar isso

    # - name: Instalação waterfox (paru)
    #   kewlfft.aur.aur:
    #     use: paru
    #     name: waterfox-bin
    #     state: present
