- name: Pcotes AUR
  hosts: localhost
  tasks:
    - name: Crie o usuário `aur_builder`
      become: yes
      ansible.builtin.user:
        name: aur_builder
        create_home: yes
        group: wheel
    - name: Permitir que o usuário `aur_builder` execute `sudo pacman` sem senha.
      become: yes
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/11-install-aur_builder
        line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
        create: yes
        mode: 0644
        validate: 'visudo -cf %s'
    - name: Instalação yay
      kewlfft.aur.aur:
        name: yay-bin
        state: present
        use: makepkg
      become: yes
      become_user: aur_builder
    - name: Instalação dotdrop
      kewlfft.aur.aur:
        use: yay
        name: dotdrop
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação neofetch
      kewlfft.aur.aur:
        use: yay
        name: neofetch
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação anki-bin
      kewlfft.aur.aur:
        use: yay
        name: anki-bin
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação chirp-next
      kewlfft.aur.aur:
        use: yay
        name: chirp-next
        state: present
      become: yes
      become_user: aur_builder
    - name: Configura dotfiles
      shell: dotdrop --cfg=/home/hick/dotfiles/config.yaml --profile=archlinux install -f
    - name: Instalação httpie-desktop-bin
      kewlfft.aur.aur:
        use: yay
        name: httpie-desktop-bin
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação winbox
      kewlfft.aur.aur:
        use: yay
        name: winbox
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação arduino-ide-bin
      kewlfft.aur.aur:
        use: yay
        name: arduino-ide-bin
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação gnome-shell-extension-clipboard-indicator
      kewlfft.aur.aur:
        use: yay
        name: gnome-shell-extension-clipboard-indicator
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação gnome-shell-extension-arch-update
      kewlfft.aur.aur:
        use: yay
        name: gnome-shell-extension-arch-update
        state: present
      become: yes
      become_user: aur_builder
    - name: Habilita extensão clipboard-indicator
      become: yes
      shell: gnome-extensions enable clipboard-indicator@tudmotu.com
    - name: Habilita extensão arch-update
      become: yes
      shell: gnome-extensions enable arch-update@RaphaelRochet
    - name: Instalação localsend-bin
      kewlfft.aur.aur:
        use: yay
        name: localsend-bin
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação sublime-text-3
      kewlfft.aur.aur:
        use: yay
        name: sublime-text-3
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação google-java-format
      kewlfft.aur.aur:
        use: yay
        name: google-java-format # Formatador de códigos Java
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação google-chrome
      kewlfft.aur.aur:
        use: yay
        name: google-chrome # Para executar testes funcionais com chromedrive
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação mbake
      kewlfft.aur.aur:
        use: yay
        name: mbake
        state: present
      become: yes
      become_user: aur_builder
    - name: Instalação gradia
      kewlfft.aur.aur:
        use: yay
        name: gradia # Ferramenta para Edição de capturas de tela
        state: present
      become: yes
      become_user: aur_builder
