---
- name: Instalação inicial do sistema
  hosts: localhost

  tasks:      
    - name: Instalação devel
      become: yes
      package:
        name: base-devel
        state: present

    - name: Instalação cmake
      become: yes
      package:
        name: cmake
        state: present

    - name: Instalação git
      become: yes
      package:
        name: git
        state: present

    - name: Instalação nano
      become: yes
      package:
        name: nano
        state: present

    - name: Instalação eza
      become: yes
      package:
        name: eza  # ls com formato de árvore com `eza -T`
        state: present
    
    - name: Instalação lsd
      become: yes
      package:
        name: lsd  # ls com ícones
        state: present

    - name: Instalação bat
      become: yes
      package:
        name: bat  # cat com número de linhas e cores
        state: present

    - name: Copia dotfiles
      git:
        repo: https://github.com/henriquesebastiao/dotfiles.git
        dest: dotfiles

    - name: Instalação pipewire
      become: yes
      package:
        name: pipewire
        state: present

    - name: Instalação pipewire-alsa
      become: yes
      package:
        name: pipewire-alsa
        state: present

    - name: Instalação pipewire-pulse
      become: yes
      package:
        name: pipewire-pulse
        state: present

    - name: Instalação pipewire-jack
      become: yes
      package:
        name: pipewire-jack
        state: present

    - name: Ativando pipewire
      become: yes
      become_user: hick
      ansible.builtin.systemd_service:
        name: pipewire
        enabled: true
        scope: user

    - name: Instalação networkmanager
      become: yes
      package:
        name: networkmanager
        state: present

    - name: Instalação network-manager-applet
      become: yes
      package:
        name: network-manager-applet
        state: present

    - name: Ativando NetworkManager
      become: yes
      ansible.builtin.systemd_service:
        name: NetworkManager
        enabled: true

    - name: Instalação ptyxis
      become: yes
      package:
        name: ptyxis  # Emulador de terminal
        state: present

    - name: Instalação zsh
      become: yes
      package:
        name: zsh
        state: present

    - name: Configuração zsh
      become: yes
      shell: chsh -s /usr/bin/zsh hick

    - name: Instalação bpytop
      become: yes
      package:
        name: bpytop
        state: present
    
    - name: Instalação nmap
      become: yes
      package:
        name: nmap
        state: present
    
    - name: Instalação ascii
      become: yes
      package:
        name: ascii
        state: present
    
    - name: Instalação fuse2
      become: yes
      package:
        name: fuse2
        state: present
    
    - name: Instalação fuse2fs
      become: yes
      package:
        name: fuse2fs
        state: present
    
    - name: Instalação gnome-shell-extension-appindicator
      become: yes
      package:
        name: gnome-shell-extension-appindicator
        state: present
    
    - name: Instalação gnome-shell-extension-caffeine
      become: yes
      package:
        name: gnome-shell-extension-caffeine
        state: present

    - name: Instalação htop
      become: yes
      package:
        name: htop
        state: present
    
    - name: Instalação tailscale
      become: yes
      package:
        name: tailscale
        state: present
    
    - name: Instalação ttf-jetbrains-mono-nerd
      become: yes
      package:
        name: ttf-jetbrains-mono-nerd
        state: present
