on: [push, pull_request]
name: Test
jobs:
  test:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint Make
        run: |
          pip install mbake
          mbake format --check Makefile
